<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{%url 'Ownerpassword'%}">
            {%csrf_token%}
        현재 비밀번호<br>
        비밀번호 : <input type="password" name="currentpw" required><br>{{error1}}<br><br>

        변경할 비밀번호<br>
        비밀번호 : <input type="password" name="changepw1" required><br>
        비밀번호 확인 : <input type="password" name="changepw2" required><br>
        {{error}}<br>
        <input type="submit" value="수정하기">
    </form>
</body>
</html>